.container {
  max-width: 800px;
  min-width: 500px;
  min-height: calc(100vh - 100px);
  overflow: auto;
  margin: 50px auto;
  padding: 0 16px;
  color: black;
  background-color: var(--secondary);
}

/**
 * USER ITEM
 */
.userItemContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 50px;
  padding: 20px;
}

.moreInfo {
  display: flex;
  gap: 16px;
  transition: all 0.25s ease-in-out;
  opacity: 0;
}

.isMore {
  opacity: 1;
}

.moreBtn {
  width: max-content;
  background-color: var(--tertiary);
}
